### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Spring Boot ###

src/main/resources/dev/config.properties

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Application files ###
src/main/resources/application.properties
